# Ignore

venv/
env/

__pycache__/
*.pyc
*.pyo

*.sqlite3
media/
staticfiles/

.env

.vscode/
.idea/

*.sql 
*.dump
pgdata/

.postman/
postman/environments/
postman/flows/
postman/mocks/
postman/specs/

.pytest_cache/
htmlcov/
.coverage

.DS_Store
Thumbs.db